@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --taupe: #7a6c5d ;
    --white: #fff;
    --noir: black;
    --ivoire: #F6F8E9;
  }

body { 
    font-family: "Wittgenstein", serif;
    background-color: var(--ivoire);
    scroll-behavior: smooth;
    margin: auto;
    max-width: 1200px;
}

h1, h2, h3, h4, h5 {
    font-family:"Baskervville SC", serif;
}